In [1]:
import numpy as np
import pandas as pd
import os
!pip install yahooquery
import yahooquery
from pandas_datareader import data
from datetime import timedelta, date, datetime

Requirement already satisfied: yahooquery in /usr/local/lib/python3.7/dist-packages (2.2.15)
Requirement already satisfied: requests-futures>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (1.0.0)
Requirement already satisfied: lxml>=4.6.2 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (4.6.2)
Requirement already satisfied: tqdm>=4.54.1 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (4.58.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yahooquery) (1.1.5)
Requirement already satisfied: requests>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from requests-futures>=1.0.0->yahooquery) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yahooquery) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yahooquery) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yahooquery) (1.19.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yahooquery) (1.15.0)

In [2]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn import metrics
# import seaborn as sn
# import matplotlib.pyplot as plt
# from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.preprocessing import LabelEncoder
# from sklearn.neural_network import MLPRegressor
# from sklearn.metrics import r2_score

# import matplotlib.pyplot as plt

# Get yahoo ground truth stock data

In [3]:
def get_yahoo_dataframe(symbol):
  # Get historical data
  #symbol = 'AAPL'
  ticker = yahooquery.Ticker(symbol)
  # df = pd.DataFrame(ticker.history(start='2020-06-01', end='2021-01-29'))
  avg_df=data.DataReader(symbol, 'yahoo', '20190213', '20210213').reset_index()

  # # compute weekly average and monthly average
  # avg_df['Date'] = avg_df['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
  avg_df = avg_df.set_index('Date')
  dates = pd.date_range(avg_df.index[0], avg_df.index[-1], freq='D')

  avg_df = avg_df.reindex(dates) 
  avg_df.reindex(dates)

  return avg_df

def prepare_data_Y_for_ML(df, how_long=7):
  # how_long = "weekly": 7, "monthly":40, "Quarterly":90
  advance = df['Adj Close'].shift(-how_long)
  Y = ((advance - df['Adj Close'])/df['Adj Close'])*100
  #Y=Y[how_long:]
  return Y

In [4]:
from google.colab import drive
# drive.flush_and_unmount()
drive.mount('/content/gdrive',force_remount=True)

Mounted at /content/gdrive

In [5]:
symbol='AAPL'
df_x=pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/reddit_avg_data/{}_avg.csv'.format(symbol), index_col=0)
df=get_yahoo_dataframe('AAPL')
df["short-term stock"]=prepare_data_Y_for_ML(df, how_long=7)
df["mid-term stock"]=prepare_data_Y_for_ML(df, how_long=40)
df["long-term stock"]=prepare_data_Y_for_ML(df,how_long=90)
df

                  High         Low  ...  mid-term stock  long-term stock
2019-02-13   43.119999   42.480000  ...       10.906092        11.286012
2019-02-14   42.814999   42.345001  ...        9.361824        12.210307
2019-02-15   42.924999   42.437500  ...       10.591499        11.965742
2019-02-16         NaN         NaN  ...             NaN              NaN
2019-02-17         NaN         NaN  ...             NaN              NaN
...                ...         ...  ...             ...              ...
2021-02-08  136.960007  134.919998  ...             NaN              NaN
2021-02-09  137.880005  135.850006  ...             NaN              NaN
2021-02-10  136.990005  134.399994  ...             NaN              NaN
2021-02-11  136.389999  133.770004  ...             NaN              NaN
2021-02-12  135.529999  133.690002  ...             NaN              NaN

[731 rows x 9 columns]

In [6]:
df

                  High         Low  ...  mid-term stock  long-term stock
2019-02-13   43.119999   42.480000  ...       10.906092        11.286012
2019-02-14   42.814999   42.345001  ...        9.361824        12.210307
2019-02-15   42.924999   42.437500  ...       10.591499        11.965742
2019-02-16         NaN         NaN  ...             NaN              NaN
2019-02-17         NaN         NaN  ...             NaN              NaN
...                ...         ...  ...             ...              ...
2021-02-08  136.960007  134.919998  ...             NaN              NaN
2021-02-09  137.880005  135.850006  ...             NaN              NaN
2021-02-10  136.990005  134.399994  ...             NaN              NaN
2021-02-11  136.389999  133.770004  ...             NaN              NaN
2021-02-12  135.529999  133.690002  ...             NaN              NaN

[731 rows x 9 columns]